spring:
  application:
    name: sharex-app
  spring:
    jpa:
      open-in-view: false

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, info

logging:
  level:
    root: WARN
    org.hibernate.SQL: OFF
    org.hibernate.orm.jdbc.bind: OFF
    org.hibernate.orm.jdbc.extract: OFF
    org.springframework.web: ERROR
    org.hibernate.orm.jdbc.error: WARN
    org.hibernate.engine.jdbc.spi.SqlExceptionHelper: ERROR
    org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: ERROR
